.wrapper {
  display: flex;
  min-height: 100vh;
}

.main {
  margin-left: 80px;
  margin-top: 64px;
  flex: 1;
  background-color: var(--color-neutral-50);
  min-height: calc(100vh - 64px);
}

@media (max-width: 767px) {
  .main {
    margin-left: 0;
  }
}
